@model plat_kurs.Models.Course

@{
    ViewData["Title"] = "Usuń kurs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Usuń kurs</h1>

<h3>Czy na pewno chcesz usunąć ten kurs?</h3>
<div class="card mt-3">
    <div class="card-header bg-danger text-white">
        Szczegóły usuwanego elementu
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                Tytuł
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt class="col-sm-2">
                Opis
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt class="col-sm-2">
                Cena
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price) PLN
            </dd>

            <dt class="col-sm-2">
                Kategoria
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Potwierdź usunięcie" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
        </form>
    </div>
</div>