@{
    ViewData["Title"] = "Panel Administratora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3 shadow text-center">
        <h1 class="display-4 fw-bold text-danger">Panel Administratora</h1>
        <p class="col-md-8 fs-4 mx-auto">
            Witaj w centrum zarządzania. Tutaj możesz dodawać, edytować i usuwać treści.
        </p>
        <hr class="my-4">
    </div>
</div>